.container {
   
    display: grid;
    grid-template-columns: 2fr 2rf 1fr;
    grid-template-rows: 80px 60px 300px 80px;
    gap: 10px;
    
    
    
}

div.container {

     border: 3px solid red;
    padding: 5px;
}




div.caixa1 {
    background-color: red;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    border: 3px solid red;
    padding: 5px;
    height: 45px;
    text-align: center;

}
div.caixa2 {
    background-color: green;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    border: 3px solid red;
    padding: 5px;
    height: 25px;
    text-align: center;
  
    
    
}

div.caixa3 {
    background-color: blue;
    grid-row: 3 / 3;
    grid-column: 1 / 4;
    border: 3px solid red;
    padding: 5px;
    height: 380px;
    text-align: center;
    
}

div.caixa4 {

  background-color: yellow;
    grid-row: 3 / 3;
    grid-column: 5 / 4;
     border: 3px solid red;
    padding: 5px;
    height: 370px;
    text-align: center;
    
           
    
    
}

div.caixa5 {
    
     background-color: black;
    grid-row: 4 / 5;
    grid-column: 1 / 5;
     border: 3px solid red;
     padding: 5px;
     grid-row: end;
     text-align: center;

     
}

